<div class="row no-gutters">
    <div class="col-12 text-center mt-4 mb-4">
       <h1>{{ question }}</h1> 
    </div>
</div>
<div class="row no-gutters">
    <!--ponemos un for para ver la cantidad de respuestas  en el array-->
    <button class="btn btn-primary rounded-0 col-sm-3 col-12" *ngFor="let obj of answers;let index=index" 
    [ngClass]="'col-sm-'+(12/answers.length)" (click)="checkAnswerIndex(index)">{{obj.answer}}</button>
   
  <!--muestra las respuestas, ngclass se pone para que tome todo el ancho dinamicamente si importar cuantas respuestas existan-->  
</div>
<div class="row no-gutters">

    <div class="alert alert-primary mt-4 w-100 text-center " role="alert" *ngIf="answerChoose && answerCorrect">
        <strong>Correcto!</strong>    
    </div>
    <div class="alert alert-danger mt-4 w-100 text-center" role="alert" *ngIf="answerChoose && !answerCorrect">
        <strong>Incorrect!</strong>    
    </div>
</div>